//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  margin: 0;
  padding: 0;
}

svg {
  background: #333;
  display: block;
  outline: 1px solid #000;
  cursor: default;
}

// -------------------

.node circle {
  fill: #333;
  stroke: #eee;
  stroke-width: 7px;
  transition: stroke 250ms linear;
}

.pending.node circle {
  stroke: #555;
}

.unmarked.node circle {
  stroke: #555;
}

.unmarked.node .dot {
  stroke: #6f6;
}

.marked.node circle {
  stroke: #6f6;
}

.node .dot {
  visibility: hidden;
  pointer-events: none;
  stroke-width: 0;
  fill: #555;
}

.root.node .dot {
  visibility: visible;
}

.unmarked.node .dot {
  fill: #6f6;
}

// -------------------

.arrow {
  opacity: .45;
}

.arrow line {
  stroke: #eee;
  stroke-width: 7px;
  transition: stroke 250ms linear;
}

.arrow-head line {
  stroke-width: 5px;
}

.pending.arrow line {
  stroke: #555;
}

.unmarked.arrow line {
  stroke: #555;
}

.marked.arrow line {
  stroke: #6f6;
}

// -------------------

svg.moving .node {
  cursor: move;
}

svg.adding .node {
  cursor: pointer;
}
