//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #444;
  color: #fff;
  line-height: 1.4;
}

button {
  font: inherit;
  background: rgba(255,255,255,0.3);
  color: #000;
  border: none;
  line-height: 1;
  padding: 10px 15px;
  cursor: pointer;
  margin: 3px;
}

button:active {
  background: rgba(255,255,255,0.8);
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: .5;
  cursor: default;
}

svg {
  background: #333;
  display: block;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
}

#modes,
#actions,
#info {
  position: fixed;
}

#modes {
  left: 10px;
  top: 10px;
}

#actions {
  right: 10px;
  top: 10px;
}

#info {
  left: 10px;
  bottom: 10px;
  background: rgba(255,255,255,0.15);
  color: #000;
  padding: 10px 15px;
}

// -------------------

.node circle {
  fill: #333;
  stroke: #eee;
  stroke-width: 7px;
  transition: stroke 250ms linear;
}

.pending.node circle {
  stroke: #555;
}

.unmarked.node circle {
  stroke: #555;
}

.unmarked.node .dot {
  stroke: #6f6;
}

.marked.node circle {
  stroke: #6f6;
}

.node .dot {
  visibility: hidden;
  pointer-events: none;
  stroke-width: 0;
  fill: #555;
}

.root.node .dot {
  visibility: visible;
}

.unmarked.node .dot {
  fill: #6f6;
}

// -------------------

.arrow {
  opacity: .45;
}

.arrow line {
  stroke: #eee;
  stroke-width: 7px;
  transition: stroke 250ms linear;
}

.arrow-head line {
  stroke-width: 5px;
}

.pending.arrow line {
  stroke: #555;
}

.unmarked.arrow line {
  stroke: #555;
}

.marked.arrow line {
  stroke: #6f6;
}

// -------------------

svg.moving .node {
  cursor: move;
}

svg.adding .node {
  cursor: pointer;
}
