//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
//@import '../font-awesome-4.7.0/scss/font-awesome.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
  background: #444;
  color: #fff;
  line-height: 1.4;
}

button {
  font: inherit;
  background: rgba(255,255,255,0.6);
  color: #000;
  border: none;
  line-height: 1;
  padding: 10px 15px;
  cursor: pointer;
  margin: 3px;
  transition: opacity 100ms linear;
  border-radius: 3px;
}

button:active {
  background: rgba(255,255,255,0.7);
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: .5;
  cursor: default;
  color: rgba(0,0,0,0.5);
}

svg {
  background: #111;
  display: block;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
}

#modes,
#actions,
#info {
  position: fixed;
  white-space: nowrap;
}

#modes {
  right: 8px;
  top: 13px;
  .undo-redo {
    display: inline-block;
    margin-left: 1em;
  }
}

#actions {
  right: 17px;
  top: 65px;
  width: 92px;
  button {
    text-align: center;
    display: block;
    width: 100%;
    margin: 6px;
    &:enabled {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#info {
  top: 71px;
  right: 125px;
  width: 112px;
  background: rgba(255,255,255,0.4);
  color: #000;
  padding: 10px 15px;
  border-radius: 3px;
}

#code {
  z-index: 1;
  position: fixed;
  border-radius: 0 0 5px 0;
  width: 31vw;
  background: rgba(215,215,215,0.95);
  top: 15px;
  bottom: 15px;
  transition: left 500ms ease-in-out, opacity 500ms ease-in-out;
  &.shown {
    opacity: 1;
    left: 0vw;
  }
  &.not-shown {
    opacity: .3;
    left: -31vw;
  }
  textarea {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px;
    font-size: 20px;
    font-family: "Fira Code", "Monaco", monospace;
    font-weight: 500;
    text-shadow: -.05em .15em .3em rgba(0,0,0,0.3);
    line-height: 1.3;
    &:focus {
      outline: none;
    }
  }
  .code-size {
    position: absolute;
    left: 100%;
    width: 40px;
    padding: 1px 0;
    line-height: 1;
    text-align: center;
    font-size: 23px;
    color: #ccc;
    opacity: .25;
    display: none;
    background: transparent;
    margin: 0;
    &:hover {
      opacity: 1;
    }
  }
  &.shown .code-size {
    display: block;
  }
  #code-size-bigger {
    top: 50px;
  }
  #code-size-smaller {
    top: 78px;
  }
  .code-toggle {
    font-size: 17px;
    padding: 13px 8px;
    width: 40px;
    background: rgba(215,215,215,0.95);
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
    border-radius: 0 4px 4px 0;
  }
}

// -------------------

.node circle {
  fill: #222;
  stroke: #eee;
  stroke-width: 7px;
  transition: stroke 250ms linear;
}

.node text {
  fill: #fff;
  font-size: 20px;
  dominant-baseline: middle;
  text-shadow: 3px 3px 3px #000, -3px -3px 3px #000, -3px 3px 3px #000, 3px -3px 3px #000;
}

.pending.node circle {
  stroke: #555;
}

.unmarked.node circle {
  stroke: #555;
}

.unmarked.node .dot {
  stroke: #6f6;
}

.marked.node circle {
  stroke: #6f6;
}

.node .dot {
  visibility: hidden;
  pointer-events: none;
  stroke-width: 0;
  fill: #555;
}

.root.node .dot {
  visibility: visible;
}

.unmarked.node .dot {
  fill: #6f6;
}

// -------------------

.arrow {
  opacity: .25;
}

.arrow line {
  stroke: #eee;
  stroke-width: 7px;
  transition: stroke 250ms linear;
}

.arrow-head line {
  stroke-width: 5px;
}

.pending.arrow line {
  stroke: #555;
}

.unmarked.arrow line {
  stroke: #555;
}

.marked.arrow line {
  stroke: #6f6;
}

// -------------------

svg.moving .node {
  cursor: move;
}

svg.adding .node {
  cursor: pointer;
}

svg.labeling .node {
  cursor: text;
}

svg.panning,
svg.panning .node {
  cursor: move;
}

// -------------------

#label-input {
  position: fixed;
  margin: -43px -43px;
  padding: 20px 20px 20px 57px;
  border: 3px solid #fff;
  border-radius: 50px 15px 15px 50px;
  background: rgba(0,0,0,0.7);
  input {
    border: 3px solid #111;
    border-radius: 8px;
    background: #fff;
    box-shadow: .1em .1em .4em rgba(0,0,0,0.5) inset;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    color: #000;
    margin: 0;
    font-size: 19px;
    padding: .3em .6em;
    width: 10em;
    &:focus {
      outline: none;
    }
  }
}
